.layout {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.layout > h1 {   
    font-family: var(--default-font), system-ui, Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

body { 
    background-color: var(--background-color);
}