.main {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main > h1 {   
    font-family: var(--default-font), system-ui, Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}