.layout {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.bgGradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* Ensures full viewport width */
    height: 100vh; /* Ensures full viewport height */
    background: radial-gradient(circle at center, 
        #391E2A 20%, 
        #272230 50%, 
        #11202B 80%);
    z-index: -1;
    opacity: 75%;
    transform: translate(-50%, -50%) scale(2);
}

.intro {
    position: absolute;
    top: 20%;
    left: 12.5%;   
    font-family: var(--default-font), system-ui, Helvetica, Arial, sans-serif;
}

.intro > h1 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.intro > h1 > span  {
    color: grey;
}

.intro > p  {
    color: white;
    font-size: 0.9rem;
}

body { 
    background-color: var(--background-color);
    position: relative;
}

