.nav {
    position: fixed;
    top: 2rem;
    color: white;
    width: 100%;
    font-family: var(--default-font), system-ui, Helvetica, Arial, sans-serif;
}

.nav > ul {
    display: flex;
    justify-content: space-evenly;
}

.nav > ul > li:hover {
    text-decoration: underline;
}

.nav > ul > .border {
    border-right: 0.1rem solid white;
    min-height: 2rem;
    transform: translateY(-25%);
}