.main {
    color: white;
    position: relative;
    width: 100%;
    height: 100vh;
}

.star {
    position: absolute;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-5vh);
    font-family: var(--default-font), system-ui, Helvetica, Arial, sans-serif;
    box-shadow:
        0 0 60px 15px #fff,  /* inner white */
        0 0 100px 30px #f0f, /* middle magenta */
        0 0 140px 45px #0ff; /* outer cyan */
}
.star::before { /* increase star hitbox */ 
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px; 
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: transparent;
}

.starDecor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border: 10px solid red;
    border-radius: 50%;
    opacity: 50%;
}

.starAnnotation {
    position: absolute;
    top: 25px;
    left: 25px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.starAnnotation > h1 {
    margin-left: 10px;
    margin-right: 20px;
    padding: 1px;
    border: 1px solid white;
    opacity: 50%;
}

.starAnnotation > p {
    font-weight: 200;
    font-size: 2rem;
}

.denebola {
    top: 90%;
    left: 17.5%;
}

.theta {
    top: 82.5%;
    left: 37%;
}

.delta {
    top: 70%;
    left: 32%;
}

.regulus {
    top: 75%;
    left: 76.5%;
}

.eta {
    top: 55%;
    left: 72%;
}

.gamma {
    top: 50%;
    left: 62%;
}

.zeta {
    top: 39%;
    left: 59.5%;
}

.mu {
    top: 18.5%;
    left: 68.5%;
}

.epsilon {
    top: 23%;
    left: 75.5%;
}