.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--default-font), system-ui, Helvetica, Arial, sans-serif;
    padding-top: 2.5rem;
    padding-bottom: 10rem;
}

.content > main {
    align-items: center;
    max-width: 50vw;
}

.content > h1 {
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 2rem;
    align-items: center;
}

main > p {
    color: white;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

main > p ul {
    list-style: disc outside;
    padding-left: 1rem;
    margin-bottom: 1rem;
  line-height: 2rem;
}

main > p h1 {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

main > p h2 {
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1000px){
    main > p {
        font-size: 4vw;
        padding: 1rem;
    }

    .content > main {
        max-width: 75vw;
    }
}