.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--default-font), system-ui, Helvetica, Arial, sans-serif;
    padding-top: 2.5rem;
    padding-bottom: 10rem;
}

.content > main {
    align-items: center;
}

.content > h1 {
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 2rem;
    align-items: center;
}

main > p {
    color: white;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

span {
    font-weight: bold;
}

@media (max-width: 1000px){
    .content > main > p {
        font-size: 3vw;
        padding: 1rem;
    }
}